<!-- <tbody>
    <tr *ngFor="let item of datos; let x = index " >
      <td> {{x}}</td>
      <td> {{item.nombre}}</td>
      <td> {{item.email}}</td>
    </tr>
  </tbody> -->


  <app-menu></app-menu>
  <div class="window">
  
 
    <div class="parsel roboto-condensed-valemia-t">Dashboard</div>
      <app-btncollide></app-btncollide>
  
      <div class="window-table ">
      <!-- Grafico2(){
        const ctx = document.getElementById('myChart2');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
              label: '# of Votes',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                '#2196F3',
                '#8BC34A',
                '#FF9800',
                '#607d8b',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
              ], // Colores de fondo de las barras
              borderColor: [
                '#2196F3',
                '#8BC34A',
                '#FF9800',
                '#607d8b',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ], // Colores de borde de las barras
              borderWidth: 1
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
              y: {
                beginAtZero: true // Comenzar el eje y en cero
              }
            }
          }
        });
      } -->
      <!--  -->
      <div class="col-12 col-md-6" >
                  <canvas id="myChart" height="300px"></canvas>
              </div>

  </div>


        
    